@import "theme.css";

* {
    -fx-text-fill: -text-50;
    -fx-icon-color: -text-50;
}

.background {
    -fx-background-color: -background-900;
}

.mainContent{
    -fx-padding: 1em;
}

Button {
    -fx-background-color: -primary-600;
    -fx-text-fill: -text-50;
    -fx-cursor: pointer;
    -fx-transition: -fx-background-color 1s;
    -fx-background-radius: 0.5em;
    -fx-padding: 0.5em 1em;
}

Button FontIcon{
    -fx-icon-color: -text-50;
}

Button.secondary {
    -fx-background-color: -secondary-600;
}

/* FORM ELEMENTS */

.form-label {
    -fx-font-size: 18;
}

.text-field {
    -fx-background-color: -background-800;
    -fx-background-radius: 5;
    -fx-padding: 10;
    -fx-font-size: 1em;
}

.radio-button {
    -fx-padding: 10;
    -fx-background-color: -background-900;
    -fx-background-radius: 10;
}

.radio-button:selected {
    -fx-border-color: -primary-700;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-padding: 8;
}

.radio-button:selected .radio .dot {
    -fx-background-color: -primary-700;
    -fx-background-insets: 0;
}

.choice-box {
    -fx-background-color: -background-800;
    -fx-background-radius: 5;
}

.choice-box .context-menu {
    -fx-background-color: -background-700;
}

.choice-box .menu-item:hover, .content .choice-box .menu-item:focused {
    -fx-background-color: -background-600;
}

.combo-box {
    -fx-background-color: -background-800;
    -fx-background-radius: 5;
    -fx-padding: 0;
    -fx-border-width: 0;
}

.combo-box .list-cell:selected {
    -fx-background-color: -background-800;
    -fx-text-fill: -text-100;
    -fx-background-radius: 5 0 0 5;
}

.combo-box:hover {
    -fx-background-color: -background-700;
}

.combo-box-popup .list-view {
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.combo-box-popup .list-view .list-cell:odd, .combo-box-popup .list-view .list-cell:even {
    -fx-background-color: -background-800;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: -background-700;
}

.combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: -primary-400;
    -fx-text-fill: white;
    -fx-background-radius: 0;
}


/* Tables */


.table-view {
    -fx-background-color: -background-950;
    -fx-border-width: 0;
}

.table-view .column-header {
    -fx-background-color: -background-800;
    -fx-border-color: -background-950;
    -fx-border-width: 0 0.5 0.5 0.5;
}

.table-view .table-row-cell .table-cell {
    -fx-padding: 4;
    -fx-border-color: -background-950;
    -fx-border-width: 0 0.5 0 0.5;
}

.table-view .table-row-cell:selected .table-cell {
    -fx-background-color: -primary-400;
    -fx-font-weight: bold;
    -fx-border-color: -primary-500;
}

.table-view .table-row-cell {
    -fx-background-color: -background-600;
}

.table-view .table-row-cell:even {
    -fx-background-color: -background-700;
}

.table-view .table-row-cell:hover {
    -fx-background-color: -background-500;
}



/* Scroll Pane and custom ScrollBar */

.scroll-pane {
    -fx-background-color: inherit;
}

.scroll-bar:horizontal, .scroll-bar:vertical,
.scroll-pane > .corner {
    -fx-background-color: -background-700;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-border-radius: 1.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0 0 0.25em 0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0 0.25em 0 0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape: " ";
    -fx-padding: 0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape: " ";
    -fx-padding: 0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: derive(black,90.0%);
    -fx-background-insets: 1.0, 0.0, 0.0;
    -fx-background-radius: 1em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: derive(#4D4C4F,10.0%);
    -fx-background-insets: 1.0, 0.0, 0.0;
    -fx-background-radius: 1em;
}