@import "global.css";

.title {
    -fx-font-size: 2em;
}

.title .label {
    -fx-text-fill: -accent-400;
    -fx-font-weight: bold;
}

.title FontIcon{
    -fx-icon-color: -accent-400;
}

.userButton {
    -fx-padding: 0.5em;
    -fx-background-radius: 0.5em;
}

.userButton:hover {
    -fx-background-color: -background-800;
}

.userButton .label{
    -fx-font-weight: bold;
    -fx-min-width: 5em;
    -fx-max-width: 8em;
}

.userButton FontIcon{
    -fx-font-size: 1.5em;
}